<h2>Order ID: <%= @new_order.id %></h2>
<h2>Quantity: <%= @new_order.quantity %></h2>
<h2>Subtotal: $<%= @subtotal %></h2>
<h2>Tax: $<%= @tax %></h2>
<h2>Total: $<%= @total %></h2>
<h2>Email: <%= @email %></h2>
