<h1>Update a Product!</h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @product.name  %>
  </div>

  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @product.price %>
  </div>

  <div>
    <%= label_tag :stock %>
    <%= text_field_tag :stock, @product.stock %>
  </div>

  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @product.image %>
  </div>


  <%= submit_tag 'Update Product' %>

<% end %>