<!-- <table>
<% @products.each do |product| %>
<tr>
<td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
</tr>
<% end %>
</table> -->
<h1>Products</h1>

<a href="/products?sort=low_price">Sort by Lowest Price</a>
<a href="/products?sort=high_price">Sort by Highest Price</a>

<ul>
  <% Category.all.each do |category| %>
    <li><%= link_to category.name, "/products?category=#{category.name}" %></li>
  <% end %>
</ul>

<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/products/<%= product.id %>">
        <p><%= product.name %></p>
        <p><%= product.price %></p>
        <p><%= product.stock %></p>
        <p><%= product.description %></p>
        <div>
          <img src="<%= product.images.first.image_url %>" width="200" height="200">
        </div>
      </a>
    </div>
  </div>
  <% end %>
</div>