<h3><%= @product.sale_message %></h3>
<ul>
  <li>Item: <%= @product.name %></li>
  <% @product.images.each do |image| %>
              <img src="<%= image.image_url %>" class="img-responsive">
            <% end %>
  <li>Price: $<%= @product.price %></li> 
  <li>Tax: $<%= @product.tax %></li>
  <li>Total Price: $<%= @product.total %></li>
  <li>Stock: <%= @product.stock %></li>
  <li><%= @product.description %></li>
  <li>Supplier: <%= @product.supplier.name %></li>

<%= form_tag '/orders', method: :post do %>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
  </div>
  <div>
    <%= label_tag :product_id %>
    <%= text_field_tag :product_id %>
  </div>
  <%= submit_tag 'Buy Now' %>
<% end %>
    
</ul>

  
<p><%= link_to "Edit", "/products/#{@product.id}/edit", method: :get %></p>
<p><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></p>