<h3><%= @product.sale_message %></h3>
<ul>
  <li>Item: <%= @product.name %></li>
  <% @product.images.each do |image| %>
              <img src="<%= image.image_url %>" class="img-responsive">
            <% end %>
  <ul>
    <% @product.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>
  <li>Price: $<%= @product.price %></li> 
  <li>Tax: $<%= @product.tax %></li>
  <li>Total Price: $<%= @product.total %></li>
  <li>Stock: <%= @product.stock %></li>
  <li><%= @product.description %></li>
  <li>Supplier: <%= @product.supplier.name %></li>

<%= form_tag '/carted_products', method: :post do %>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
  </div>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag 'Add to Cart' %>
<% end %>
    
</ul>

  
<p><%= link_to "Edit", "/products/#{@product.id}/edit", method: :get %></p>
<p><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></p>
